:root {
  --color-white: #fefefe;
  --color-black: #111;
  --color-primary: #333;
  --color-creme: #eae7dc;
  --color-dark-grey: #464544;
  --color-blue: #21618c;
  --color-yellow: #f7b801;
  --color-orange: #f35b04;
}
