.quiz-card {
  padding: 16px;
  border: 1px var(--color-dark-grey) solid;
  border-radius: 8px;
  width: 300px;
  background: var(--color-creme);
  color: var(--color-dark-grey);
  position: relative;
}

.quiz-card:first-child {
  margin-top: 26px;
}

.quiz-card__bookmark {
  position: absolute;
  top: -12px;
  right: 8px;
  border: 20px var(--color-yellow) solid;
  border-bottom-color: transparent;
  height: 30px;
}
.quiz-card__bookmark--selected {
  border: 20px var(--color-orange) solid;
  border-bottom-color: transparent;
}

.quiz-card__heading {
  color: var(--color-blue);
}

.quiz-card__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.quiz-card__tag {
  list-style-type: none;
  padding: 2px;
  border: 1px var(--color-dark-grey) solid;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.quiz-card__button {
  background-color: var(--color-dark-grey);
  color: white;
}
