.quiz-card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  margin: 30px;
  border: 1px var(--color-dark-grey) solid;
  background: var(--color-creme);
  color: var(--color-dark-grey);
  position: relative;
}

.quiz-card__bookmark {
  position: absolute;
  top: -12px;
  right: 8px;
  border: 20px var(--color-dark-grey) solid;
  border-bottom-color: transparent;
  height: 30px;
}

.quiz-card__heading {
  color: var(--color-bright-red);
}

.quiz-card__list {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.quiz-card__tag {
  list-style-type: none;
  padding: 2px;
  border: 1px var(--color-light-red) solid;
}

.quiz-card__button {
  background-color: var(--color-light-red);
}
