.form {
  display: grid;
  grid-gap: 16px;
  background: var(--color-white);
  padding: 16px;
  margin: 20px;
  height: 90%;
  border: 1px var(--color-black) solid;
}
.form__question {
  justify-self: center;
}

.form__button {
  width: 50%;
  height: 50%;
  justify-self: center;
  background-color: var(--color-beige);
  border-radius: 8px;
  box-shadow: 0 6px 20px var(--color-dark-grey);
}
.form textarea {
  border: 1px var(--color-black) solid;
}
