.profile {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  background: var(--color-white);
  height: 90%;
  margin: 20px;
  border: 1px var(--color-black) solid;
}
.profile__image {
  width: 70%;
  border-radius: 50%;
}

.profile__about {
  grid-column: 1 / -1;
}
.profile__tag-list {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.profile__tag-list li {
  list-style-type: none;
  padding: 2px;
  border: 2px var(--color-light-blue) solid;
  color: var(--color-black);
}

.profile__button {
  width: 50%;
  justify-self: center;
  background-color: var(--color-beige);
  border-radius: 8px;
  box-shadow: 0 6px 20px var(--color-dark-grey);
  grid-column: 1 / -1;
}
